/* importamos fuentes */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* creamos paleta de colores */
:root {
    --violeta: #9c27b0; /* Color violeta */
    --violetaOscuro: #89119d; /* Color violeta oscuro */
    --verde: #4caf50; /* Color verde */
    --secundario: #ffce00; /* Color secundario */
    --secundarioOscuro: rgb(233, 287, 2); /* Color secundario oscuro */
    --blanco: #fff; /* Color blanco */
    --negro: #000; /* Color negro */
    --gris: #6e6e6e; /* Color gris */
    --titulos: 'Arima', cursive; /* Fuente para títulos */
    --parrafos: 'Mulish', sans-serif; /* Fuente para párrafos */
}

/* Establece la fuente para los párrafos */
p {
    font-family: var(--titulos);
}

/* Ajusta el tamaño del contenido al tamaño de la caja */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1em = 10px */
}

body {
    font-size: 1.6rem; /* Tamaño de fuente base */
    overflow-x: hidden;

}

/* Establece el box-sizing para todos los elementos */
*, *:before, *:after {
    box-sizing: inherit;
}

/* Estilos globales */
.contenedor {
    max-width: 120rem; /* Ancho máximo del contenedor */
    width: 95%; /* Ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}

img {
    max-width: 100%;
}

/* Estilos para encabezados y enlaces */
h1, h2 {
    font-family: var(--titulos);
}
h3, a, p {
    font-family: var(--parrafos);
}

/* Colores personalizados */
.verde {
    color: var(--verde);
}

.rojo {
    color: red;
}

.ocultar {
    display: none; /* Oculta elementos */

}


/* Estilos para el botón de cerrar */
.btn-cerrar {
    font-size: 2rem;
    color: var(--blanco);
    position: absolute; /* Posicionamiento absoluto */
    top: 0;
    right: 0;
    right: 40px; /* Ajuste de posición */
    font-size: 2.5rem;
    font-weight: bold; /* Negrita */
    user-select: none; /* Evita la selección de texto */
}

/* Estilos para pantalla completa */
.pantalla-completa {
    position: absolute; /* Posicionamiento absoluto */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5); /* Fondo oscuro */

}

/* Animación para desplazar a la izquierda */
@keyframes desplazarIzquierda {
    0% {
        transform: translateX(100%); /* Comienza fuera de la pantalla */
    }
    100% {
        transform: translateX(0); /* Termina en su posición original */
    }
}

/* Estilo para el botón del menú */
.btn {
    text-decoration: none; /* Sin subrayado */
    color: var(--blanco); /* Color del texto */
    font-size: 2.2rem; /* Tamaño de fuente */
    text-transform: capitalize; /* Capitaliza el texto */
    padding: 1rem 9rem; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: all .3s ease-in-out; /* Transición suave */
    
}
@media(min-width: 768px) {
    .btn {
        font-weight: bold;
        font-size: 3rem;
    }
    

}

/* Estilo para el borde del botón */
.border {
    /* border: 4px solid var(--blanco); Borde blanco */
    justify-content: center; /* Centra el contenido */
}

/* Efecto hover para el borde del botón */
.border:hover {
    color: var(--verde); /* Cambia el color al pasar el mouse */
    background: linear-gradient(to right,#060606, #ffffff, #000000); /* Cambia a un gradiente al pasar el mouse */
}

/* Estilos para el encabezado de navegación */
.contenedor-navegacion {
    background-color: var(--negro); /* Fondo negro */
    position: relative; /* Posicionamiento relativo */
    z-index: 5; /* Asegura que esté por encima de otros elementos */
}

.contenido-navegacion {
    display: flex; /* Flexbox para disposición */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center; /* Alinea verticalmente */

}

/* Estilo para el logo */
.logo h1 {
    color: var(--blanco); /* Color blanco */
    font-size: 4rem; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
    margin: 0; /* Sin margen */
}

/* Margen superior para el primer enlace de navegación */
.navegacion a:nth-child(1) {
    margin-top: 6rem;
}

/* Alineación para tabletas */
@media(min-width: 768px) {
    .navegacion a {
        text-align: left; /* Alinea a la izquierda */
    }
}

/* Alineación para celulares */
.navegacion a {
    color: var(--blanco); /* Color blanco */
    text-decoration: none; /* Sin subrayado */
    font-size: 2.2rem; /* Tamaño de fuente */
    margin: 5px; /* Margen */
    display: block; /* Bloque */
    padding: 1rem; /* Espaciado interno */
    margin: 3rem; /* Margen */
    margin-left: 3rem; /* Margen izquierdo */
    transition: ease-in-out; /* Transición suave */
    text-align: center; /* Centra el texto */
}

/* Estilos para la navegación */
.navegacion {
    position: absolute; /* Posicionamiento absoluto */
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh; /* Altura completa */
    width: 35rem; /* Ancho fijo */
    padding: 3rem, 4rem; /* Espaciado interno */
    background-color: var(--negro); /* Fondo negro */
    animation: desplazarIzquierda .3s ease-in-out; /* Animación */
    
}

/* Efectos hover para enlaces de navegación */
.navegacion a:nth-child(even):hover {
    color: red; /* Cambia a rojo al pasar el mouse */
}
.navegacion a:nth-child(odd):hover {
    color: var(--verde); /* Cambia a verde al pasar el mouse */
}

/* Estilo para el icono de hamburguesa */
.hamburguesa:hover {
    cursor: pointer; /* Cambia el cursor al pasar el mouse */

}
.hamburguesa span {
    background-color: var(--blanco); /* Fondo blanco */
    display: block; /* Bloque */
    width: 5rem; /* Ancho */
    height: .5rem; /* Alto */
    margin-bottom: .5rem; /* Margen inferior */
 
}

/* Estilos para el video */
.contenido-header {
    position: relative; /* Posicionamiento relativo */
}

/* Oscurece el video */
.contenido-header::before {
    content: ''; /* Contenido vacío */
    position: absolute; /* Posicionamiento absoluto */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5); /* Fondo oscuro */
}

/* Estilo para el encabezado del video */
.texto-encabezado {
    position: absolute; /* Posicionamiento absoluto */
    z-index: 2; /* Asegura que esté por encima de otros elementos */
    width: 100%; /* Ancho completo */
    height: 80%; /* Altura del 80% */
    display: flex; /* Flexbox para disposición */
    flex-direction: column; /* Coloca elementos uno al lado del otro */
    text-align: center; /* Centra el texto */
    justify-content: center; /* Centra verticalmente */
}

/* Estilo para el título del encabezado */
.texto-encabezado h2 {
    color: var(--blanco); /* Color blanco */
    font-size: 4rem; /* Tamaño de fuente */
}

/* Consulta de medios para pantallas más grandes */
@media(min-width: 768px) {
    /* Aquí se pueden agregar estilos específicos para pantallas más grandes */
    .texto-encabezado h2 {
        font-size: 8rem; /* Tamaño de fuente */
    }
}

/* Estilos para el video */
video {
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
}
